<% layout('layout/main.ejs') -%>

  <div class="container my-5">
    <div class="mx-auto col-12 my-5">
      <form method="post" action="/signup" class="login my-5 row">
        <h2 class="text-dark mx-auto col-7 my-3 text-center font-weight-normal">會員註冊</h2>
        <input type="email" class="email form-row mx-auto col-7 my-4 align-self-center border border-dark" placeholder="請輸入電子郵件地址"
          style="height: 40px;" name="email" required>
        <input type="password" class="password form-row mx-auto col-7 my-4 align-self-center border border-dark"
          placeholder="請輸入密碼" style="height: 40px;" name="password" required>
        <input type="password" class="password form-row mx-auto col-7 my-4 align-self-center border border-dark"
          placeholder="確認密碼" style="height: 40px;" name="password2" required>
        <div class="submit col-7 my-5 align-self-center  mx-auto row">
          <button class="form-row mx-auto py-2 px-4 bg-white border border-secondary rounded-lg shadow-sm">
            註冊
          </button>
          <a href="/signin" class="mx-auto py-2 px-4">或登入會員</a>
        </div>
      </form>
    </div>
  </div>